<html>

    <head>

    </head>

    <body>

        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
            <input type="text" placeholder="First Name..." name="first_name">
            <br>
            <input type="text" placeholder="Last name..." name="last_name">
            <br>
            <input type="text" placeholder="Username..." name="username">
            <br>
            <input type="email" placeholder="Email..." name="email">
            <br>
            <input type="password" placeholder="Password..." name="password">
            <br>
            <input type="submit" value="cadastrar">
        </form>

    </body>

</html>